/* Global and container styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Entire site background */
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
  }
  
  .column {
    padding: 20px; /* Padding around column content */
  }
  
  .column.left {
    flex: 1 1 33%; /* Left column takes 1/3 of the space */
    display: flex;
    justify-content: center; /* Centers the inner container horizontally */
    align-items: center; /* Centers the inner container vertically */
  }
  
  .column.right {
    flex: 2 2 67%; /* Right column takes the remaining space */
    /*background-color: #1e1e1e;*/
  }
  
  .profile-container {
    background-color: #121212;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 100%; /* Adjust width as necessary */
    max-width: 500px; /* max-width to prevent too wide container on larger screens */
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .column.left, .column.right {
      flex: 1 0 100%; /* Make both columns full width on smaller screens */
    }
  }
  