@font-face {
  font-family: 'Circular Bold';
  src: url('../../public/fonts/CircularSpotifyText-Black.otf') format('truetype'); /* Adjust the path as necessary */
  font-weight: bold;
  font-style: bold;
}

.right-column {
  background-color: #000000; /* Overall right column background */
  padding: 0; /* Remove padding if you want the title card to touch the edges */
  margin-right: 5px;
  margin-top: 5px;
  justify-content: center; /* Centers the inner container horizontally */
  align-items: center; /* Centers the inner container vertically */
  overflow-y: auto; /* Enables vertical scrolling */
  height: 100vh; /* Sets a fixed height, adjust as needed */
}

.right-column::-webkit-scrollbar {
  width: 0px; /* Removes scrollbar width */
  background: transparent; /* Makes scrollbar transparent */
}

.right-column::-webkit-scrollbar-thumb {
  background: transparent; /* Makes scrollbar thumb transparent */
}

.right-column {
  scrollbar-width: none; /* Firefox option to hide the scrollbar */
}

.playlist-container {
  background-color: #121212; /* Specific background for the playlist container */
  border-radius: 10px; /* Optional: adds rounded corners for better visuals */
  justify-content: center; /* Centers the inner container horizontally */
  align-items: center; /* Centers the inner container vertically */
  margin-bottom: 5px;
}
  
.playlist-header {
  display: flex;
  padding: 10px;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.header-item {
  flex: 1;
  text-align: left;
  padding: 0 10px;
}

.playlist-item {
  display: flex;
  flex-direction: column; /* This ensures all elements stack vertically */
  align-items: flex-start;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer

}
  
.playlist-item {
  border-bottom: 1px solid #333; /* Only show border if not expanded */
}

.track-details {
  display: flex;
  flex-direction: row; /* Ensures horizontal layout of details */
  width: 100%; /* Full width to accommodate children */
  align-items: center; /* Vertical alignment of children */
}

.track-description {
  background-color: #202020; /* Slightly lighter for emphasis */
  color: #fff;
  padding: 10px 40px;
  margin-left: 50px; /* Align with the track items */
  margin-right: 20px;
  display: none; /* Hide by default */
}

.playlist-item.expanded {
  background-color: #202020; /* Darker to highlight expansion */
  color: #fff;
  border-radius: 5px;
}

.track-description {
  display: block; /* Show the description */
  padding: 10px 40px;
  margin-left: 50px; /* Proper alignment with track items */
  margin-right: 20px;
}

.button-container {
  display: flex;
  align-items: center;  /* Align items vertically */
  justify-content: start; /* Align buttons to the left */
  margin-left: 30px; /* Left alignment with the column header */
  margin-top: 10px; /* Top margin for spacing */
  margin-bottom: 20px; /* Bottom margin for spacing */
}

.play-button {
  font-size: 24px; /* Icon size */
  color: black; /* Icon color */
  background-color: #1DB954; /* Button background */
  border: 3px solid #1DB954; /* Green border */
  border-radius: 50%; /* Makes the button round */
  cursor: pointer;
  width: 50px; /* Diameter of the button */
  height: 50px; /* Diameter of the button */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  padding: 0; /* Remove any default padding */
  outline: none; /* Remove focus outline */
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Hover effect for the play-button */
.play-button:hover {
  background-color: #1DB954; /* Slightly lighter green to indicate hover */
  transform: scale(1.1); /* Enlarges the button by 10% */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4); /* Subtle shadow for depth */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transitions for all properties */
}


.play-button i {
  pointer-events: none; /* Prevents the icon from being clickable separately from the button */
}

.download-button {
  text-decoration: none; /* Removes underline from the link */
  font-size: 30px; /* Matching the play-button size */
  color: #1DB954; /* Icon color */
  border: gray; /* No border */
  border-radius: 50%; /* Makes the button round */
  cursor: pointer;
  width: 50px; /* Diameter of the button */
  height: 50px; /* Diameter of the button */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  margin-left: 10px; /* Space between play-button and download-button */
  margin-bottom: 5px;
  outline: gray; /* Remove focus outline */
}

.download-button:hover {
  transform: scale(1.1); /* Enlarges the button by 10% */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transitions for all properties */
}

.expanded .track-description {
    display: block; /* Show only when expanded */
}
  
.expanded {
  background-color: #202020; /* Highlight expanded item */
}

.expanded .track-title {
  color: #1DB954; /* Green color for expanded track titles */
}

.track-number {
  flex: 0 0 20px; 
  color: gray;
}

.track-info {
  flex: 3; 
  display: flex;
  align-items: center;
  padding-left: 10px; 
}

.track-info-head {
  flex: 3; 
  display: flex;
  align-items: center;
  padding-left: 10px; 
  color: gray;
}

.track-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.track-album {
  flex: 2;
  color: gray;
}

.track-added {
  flex: 1; 
  color: gray;
}

.track-duration {
  flex: 1; 
  color: gray;
}

.track-duration a {
  margin-right: 10px; /* Spacing between icons */
  color: gray; /* Icon color */
}

.track-artist {
  color: gray;
}

.track-duration i {
  cursor: pointer; /* Pointer cursor on hover */
}

.projects-title-card {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #1DB954, #121212); /* Gradient background */
  padding: 100px 20px 20px 20px; /* top bottom left right Padding inside the card for internal spacing */
  margin: 0; /* Removes any margin to make it stick to the container edges */
  border-radius: 10px; /* Makes corners rounder */
}

.title-icon {
  width: 200px; /* Adjusted size */
  height: 200px;
  background-color: #ffffff; /* White background for visibility */
  margin-right: 20px; /* Right margin for spacing between the icon and text */
  margin-top: 20px; /* Adds space at the top of the square image */
  margin-left: 10px;
  border-radius: 10px
}

.title-icon:hover {
  transform: scale(1.05); /* Makes the image 10% larger */
  transition: transform 0.2s ease-in-out; /* Smooth transition for the transform */
  cursor: pointer; /* Changes cursor to pointer to indicate it's interactive */
}

.project-details {
  display: flex;
  align-items: flex-end; /* Aligns text with the bottom of the title-icon */
  color: white;
  font-size: 16px; /* Adjust size as necessary */
}

.project-text {
  margin-bottom: 5px; 
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  height: 200px;
}

.project-title {
  flex: 18;
  display: flex;
  font-size: 100px; /* Adjust size as needed */
  line-height: 1.2; /* Adjust line height for better vertical spacing */
  color: white; /* Maintains text color */
  margin: 0; /* Removes default margin */
  padding: 0; /* Adjust padding to fit design, could be 0 */
  align-items: flex-end;
  font-family: 'Circular Bold', sans-serif;
}

.project-details {
  flex: 1;
  display: flex;
  align-items: flex-end; /* Vertically centers the link and text within the 'project-details' */
  color: white;
  font-size: 16px; /* Adjust size as necessary */
  margin-top: 5px; /* Optional: Adds a small gap between the h1 and the details */
  margin-left: 3px;
}

.project-details a {
  color: white; /* Bright green for link for consistency with design */
  text-decoration: none; /* Removes underline */
}

.project-details a:hover {
  text-decoration: underline; /* Adds underline on hover for better interaction */
}

.project-details span {
  margin-left: 5px; /* Adds a small space between the link and the span text */
  color: #B8B9C5; /* Ensures visibility */
}

/* Hover effect for playlist items */
.playlist-item:hover {
  transform: scale(1.013); /* Lifts the item up by 5px */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Adds shadow for 3D effect */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for transform and shadow */
  background-color: #282828; /* Slightly darker background on hover */
  border-radius: 5px;
}

/* Ensure that expanded items maintain a distinct style even when hovered */
.playlist-item.expanded:hover {
  transform: scale(1.013);
  box-shadow: 0 6px 12px rgba(0,0,0,0.6); /* Slightly deeper shadow for expanded items */
  background-color: #202020; /* Different background color for distinction */
  border-radius: 5px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .playlist-header, .track-artist, .track-album, .track-added, .track-duration, .track-description {
    display: none; /* Hide header and details initially */
  }

  .expanded .track-artist, .expanded .track-album, .expanded .track-added, .expanded .track-duration {
    display: flex; /* Show these details in expanded view */
    flex-basis: 25%; /* Each takes up 25% of the width */
    justify-content: flex-start; /* Align items to the start */
    text-align: left; /* Text aligned to the left */
  }

  .playlist-item {
    display: flex;
    flex-direction: column; /* Layout changes to column to accommodate description row */
    align-items: flex-start; /* Align items to the start of the flex container */
    padding: 10px 5px; /* Reduced padding */
    text-align: left; /* Align all text to the left */
  }

  .track-details { /* New class for wrapping all details except description */
    display: flex;
    flex-direction: row; /* Maintains row layout for all details */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align all items to the start */
  }

  .track-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: row; /* Ensure items are in a row */
    padding-left: 5px; /* Padding from the left */
    padding-right: 8px;
  }

  .title-icon {
    width: 120px; /* Smaller size for mobile */
    height: 120px;
    margin-right: 10px;
  }

  .project-text {
    margin-bottom: 5px; 
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    height: 120px;
  }
  
  .project-title {
    flex: 5;
    display: flex;
    font-size: 40px; /* Adjust size as needed */
    line-height: 1.2; /* Adjust line height for better vertical spacing */
    color: white; /* Maintains text color */
    margin: 0; /* Removes default margin */
    padding: 0; /* Adjust padding to fit design, could be 0 */
    align-items: flex-end;
  }
  
  .project-details {
    flex: 1;
    display: flex;
    align-items: flex-end; /* Vertically centers the link and text within the 'project-details' */
    color: #B8B9C5;
    font-size: 16px; /* Adjust size as necessary */
    margin-top: 5px; /* Optional: Adds a small gap between the h1 and the details */
  }

  .track-description {
    display: none; /* Initially hidden */
    margin-left: 25px; /* track description margin to left mobile view*/
  }

  .expanded .track-description {
    display: block; /* Show description when expanded */
    padding-top: 10px; /* Additional padding for clarity */
    text-align: left; /* Align text to the left */
  }

  .right-column {
    margin-left: 5px; /* Adjusted margin for better alignment */
    flex: 1 0 100%; /* Make both columns full width on smaller screens */
    overflow-y: visible; /* Disables vertical scrolling within columns */
  }
}








  